@use "partials.scss/colors";
@use "partials.scss/mixins.scss";
@use "partials.scss/devices";

.container {
  width: 100vw;
  height: 100vh;
  @include mixins.flex-center;
}

.calc {
  background-color: colors.$dark-grey;
  height: 550px;
  width: 400px;
  @include devices.phone{
    width:200px;
    height:900px;
  }
  border-radius: 20px;
  padding: 20px;
  @include mixins.flex-column;

  &__display {
    width: 400px;
    height: 80px;
    border-radius: 20px;
    background-color: colors.$green;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 2px inset black;
    box-shadow: colors.$green;
    margin: 40px 0;
    @include devices.phone{
      width:200px;
      // height:900px;
    }
    input{
      width:95%;
      height:100%;
      background-color: transparent;
      color:black;
      font-size: 46px;
      text-align: right;
      border: none;
    }
  }
  &__btns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 15px;
    @include devices.phone{
      grid-template-columns: 1fr 1fr;
      grid-gap: 5px;
    }
  }
}
.btns {
  &__btn,&__btnOp,&__btnEq {
    background-color: colors.$light-grey;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    font-weight: bolder;
    font-size: 40px;
    height: 70px;
    text-align: center;
    &--equal {
      background-color: colors.$orange;
      @include devices.phone{
        order:16
      }
    }
    &--0 {
      @include devices.phone{
        order:1
      }
    }
    &--1 {
      @include devices.phone{
        order:2
      }
    }
    &--2 {
      @include devices.phone{
        order:3
      }
    }
    &--3 {
      @include devices.phone{
        order:4
      }
    }
    &--4 {
      @include devices.phone{
        order:5
      }
    }
    &--5 {
      @include devices.phone{
        order:6
      }
    }
    &--6 {
      @include devices.phone{
        order:7
      }
    }
    &--7 {
      @include devices.phone{
        order:8
      }
    }
    &--8 {
      @include devices.phone{
        order:9
      }
    }
    &--9 {
      @include devices.phone{
        order:10
      }
    }
    &--dot {
      @include devices.phone{
        order:11
      }
    }
  }
  &__btnOp{
    @include devices.phone{
      order:12
    }
  }
}
.eqBtns{
  display: grid;
  grid-template-columns: 1fr;
  &__btn--equal{
    @extend .btns__btn;
    margin-top: 15px;
  }
}